---
import ArticleLayout from "../../layouts/ArticleLayout.astro";
---

<ArticleLayout>
  <h2>1 Родословие Иисуса Христа, Сына Давида, Сына Авраама.</h2>
  <h3>14 родов от Авраама до Давида</h3>
  <img
    src="http://gorlovka-eparhia.com.ua/wp-content/uploads/2025/11/EZ1rWn4WoAUWc-1jpg-420x280."
    alt=""
  />
  <p>
    2 У Авраама родился Исаак; у Исаака родился Иаков; у Иакова родился Иуда и
    братья его; 3 у Иуды от Фамари родились Фарес и Зара; у Фареса родился
    Есром; у Есрома родился Арам; 4 у Арама родился Аминадав; у Аминадава
    родился Наассон; у Наассона родился Салмон; 5 у Салмона от Рахави родился
    Воез; у Воеза от Руфи родился Иовид; у Иовида родился Иессей; 6 у Иессея
    родился царь Давид. У Давида царя от вдовы Урии родился Соломон;
  </p>
  <h3>14 родов от Давида до пленения Вавилонского</h3>
  <img
    src="https://helpcenter24.org/wp-content/uploads/2014/06/hram-solomona-3.jpg"
    alt=""
  />
  <p>
    7 у Соломона родился Ровоам; у Ровоама родился Авия; у Авии родился Асаф; 8
    у Асафа родился Иосафат; у Иосафата родился Иорам; у Иорама родился Озия; 9
    у Озии родился Иоафам; у Иоафама родился Ахаз; у Ахаза родился Езекия; 10 у
    Езекии родился Манассия; у Манассии родился Амос; у Амоса родился Иосия; 11
    у Иосии перед пленением Вавилонским родились Иехония и братья его.
  </p>
  <h3>14 родов от пленения Вавилонского до Христа</h3>
  <img
    src="https://vz.ua/uploads/news/2021/11/02/081d9ec5a4b1390bbf5e2fb5bec3e38e759d0cbe.jpg"
    alt=""
  />
  <p>
    12 После пленения Вавилонского у Иехонии родился Салафиил; у Салафиила
    родился Зоровавель; 13 у Зоровавеля родился Авиуд; у Авиуда родился Елиаким;
    у Елиакима родился Азор; 14 у Азора родился Садок; у Садока родился Ахим; у
    Ахима родился Елиуд; 15 у Елиуда родился Елеазар; у Елеазара родился Матфан;
    у Матфана родился Иаков; 16 у Иакова родился Иосиф, муж Марии, от которой
    родился Иисус, почитаемый как Христос.
  </p>

  <p class="font-bold">
    17 Итак, всех поколений от Авраама до Давида — четырнадцать поколений; и от
    Давида до пленения Вавилонского — четырнадцать поколений; и от пленения
    Вавилонского до Христа — четырнадцать поколений.
  </p>

  <h2>Рождению же Иисуса Христа предшествовало следующее</h2>
  18 Рождению же Иисуса Христа предшествовало следующее: оказалось, что мать Его,
  Мария, обрученная с Иосифом, зачала во чреве от Духа Святого прежде, чем поженились
  они. 19 Иосиф же, жених её, будучи честным человеком и не желая опозорить её, решил
  тайно расторгнуть помолвку с нею.

  <img
    src="https://ekzeget.ru/storage/web/source/1/TxwP2PZBsmDbGd8D5BcNpjS-XujpX2Qn.jpg"
  />
  20 Но когда он задумал это, ему во сне явился ангел Господень и сказал:

  <q
    >Иосиф из рода Давида, не смущайся брать Марию в жены себе, потому что Тот,
    Кого зачала она, — от Духа Святого; 21 она родит тебе Сына, и ты назовешь
    Его именем Иисус, ибо Он избавит народ Свой от грехов его.</q
  >

  <blockquote>
    22 А свершилось всё это во исполнение прореченного Господом чрез пророка
    Исайю: 23 вот, дева зачнёт во чреве и родит Сына, и назовут Его именем
    Еммануил, что значит: с нами Бог. (Ис 7:14; Ис 8:8)
  </blockquote>

  <p>
    24 Проснувшись, Иосиф поступил так, как повелел ему ангел Господень, и взял
    Марию в жены себе, 25 и не обладал ею, доколе не родила она Сына своего
    Первенца, Которого он назвал именем Иисус.
  </p>
</ArticleLayout>
<style>
  q {
    @apply text-cyan-600;
    display: block;
  }
</style>
