---
import ArticleLayout from "../../layouts/ArticleLayout.astro";
---

<ArticleLayout>
  <h2>Волхвы с востока</h2>
  <p>
    1 Когда же Иисус родился в Вифлееме Иудейском во дни царя Ирода, пришли в
    Иерусалим волхвы с востока и говорят:
  </p>

  <blockquote>
    2 где родившийся Царь Иудейский? ибо мы видели звезду Его на востоке и
    пришли поклониться Ему.
  </blockquote>

  <p>
    3 Услышав это, Ирод царь встревожился, и весь Иерусалим с ним. 4 И, собрав
    всех первосвященников и книжников народных, спрашивал у них:
  </p>

  <p>где должно родиться Христу?</p>

  <p>5 Они же сказали ему:</p>
  <blockquote>в Вифлееме Иудейском, ибо так написано через пророка:</blockquote>

  <blockquote>
    6 «и ты, Вифлеем, земля Иудина, ничем не меньше воеводств Иудиных, ибо из
    тебя произойдёт Вождь, Который упасёт народ Мой, Израиля».
  </blockquote>

  <p>
    7 Тогда Ирод, тайно призвав волхвов, выведал от них время появления звезды 8
    и, послав их в Вифлеем, сказал:
  </p>
  пойдите, тщательно разведайте о Младенце и, когда найдёте, известите меня, чтобы
  и мне пойти поклониться Ему.

  <p>
    9 Они, выслушав царя, пошли. И се, звезда, которую видели они на востоке,
    шла перед ними, как наконец пришла и остановилась над местом, где был
    Младенец. 10 Увидев же звезду, они возрадовались радостью весьма великою, 11
    и, войдя в дом, увидели Младенца с Мариею, Матерью Его, и, пав, поклонились
    Ему; и, открыв сокровища свои, принесли Ему дары: золото, ладан и смирну. 12
    И, получив во сне откровение не возвращаться к Ироду, иным путём отошли в
    страну свою.
  </p>

  <p>
    13 Когда же они отошли, — се, Ангел Господень является во сне Иосифу и
    говорит:
  </p>

  <p class="ml-10 italic text-zinc-700">
    встань, возьми Младенца и Матерь Его и беги в Египет, и будь там, доколе не
    скажу тебе, ибо Ирод хочет искать Младенца, чтобы погубить Его.
  </p>

  <p>
    14 Он встал, взял Младенца и Матерь Его ночью и пошёл в Египет, 15 и там был
    до смерти Ирода, да сбудется реченное Господом через пророка, который
    говорит:
  </p>
  <blockquote>«из Египта воззвал Я Сына Моего».</blockquote>

  <h2>Ирод послал избить всех младенцев</h2>

  16 Тогда Ирод, увидев себя осмеянным волхвами, весьма разгневался и послал
  избить всех младенцев в Вифлееме и во всех пределах его, от двух лет и ниже,
  по времени, которое выведал от волхвов. 17 Тогда сбылось реченное через
  пророка Иеремию, который говорит:

  <blockquote>
    18 «глас в Раме слышен, плач и рыдание и вопль великий; Рахиль плачет о
    детях своих и не хочет утешиться, ибо их нет».
  </blockquote>

  19 По смерти же Ирода, — се, Ангел Господень во сне является Иосифу в Египте
  20 и говорит:

  <p>
    «встань, возьми Младенца и Матерь Его и иди в землю Израилеву, ибо умерли
    искавшие души Младенца».
  </p>

  21 Он встал, взял Младенца и Матерь Его и пришёл в землю Израилеву. 22 Услышав
  же, что Архелай царствует в Иудее вместо Ирода, отца своего, убоялся туда
  идти; но, получив во сне откровение, пошёл в пределы Галилейские 23 и, придя,
  поселился в городе, называемом Назарет, да сбудется речённое через пророков,
  что Он Назореем наречётся.
</ArticleLayout>
<style>
  q {
    @apply text-cyan-600;
    display: block;
  }

  blockquote {
    @apply w-96;
    @apply ml-10;
  }

  p {
    @apply w-96;
  }
</style>
