---

---

<!-- https://preview.themeforest.net/item/ainext-ai-agency-startup-html-template/full_screen_preview/50659782 -->
<section id="hero" class="min-h-screen flex items-center text-white">
  <div class="container mx-auto">
    <h1>Тайны Библии.</h1>
    <p class="text-2xl py-2 text-amber-400">Новое понимание Писания.</p>
    <p class="text-indigo-200 text-xl">
      сокрой слова сии и запечатай книгу сию до последнего времени; многие
      прочитают её, и умножится ведение (Даниила 12:4)
    </p>
  </div>
</section>
<section class="sect-find">
  <div class="container mx-auto">
    <h2 class="mb-16 text-center text-6xl text-white">Что вы здесь найдёте?</h2>
    <div class="grid md:grid-cols-3 gap-10">
      <div>
        <h3>Новое</h3>
        <p>
          Главная задача сайта - открыть неизведанные тайны Библии. То, что еще
          не было истолковано богословами, или понимается не правильно. Мы не
          занимаемся копированием других исследователей.
        </p>
      </div>
      <div>
        <h3>Понимание</h3>
        <p>
          Понимание зависит от наличия дара Святого Духа. Также очень сильно
          влияют негативные качества, такие как сребролюбие или конформизм.
          Поэтому мы не только говорим, как нужно понимать, но и каким должен
          быть наш внутренний мир, чтобы эти знания усвоить.
        </p>
      </div>
      <div>
        <h3>Писания</h3>
        <p>
          Библия истолковывает сама себя. Поэтому ответы на сложные вопросы
          нужно искать не в исторических справочниках, а в ней самой. Также в
          ней есть много прообразов, аллегорий и притч. И мы постарались
          раскрыть ее образный язык.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section-prop">
  <div class="container mx-auto py-32">
    <h2 class="text-8xl text-center">Важные пророчества</h2>
    <div class="grid md:grid-cols-2 text-center">
      <div class="section-prop__item">
        <a href="/stati/tajny/4-chto-takoe-vavilon-velikij/">
          <img
            src="/images/landing/promo2.jpg"
            alt="Блудница Вавилон Великий"
          />
          <h3>Вавилон Великий</h3>
        </a>
      </div>
      <div class="section-prop__item">
        <a href="/stati/tajny/6-ostorozhno-assiriya/">
          <img src="/images/landing/promo3.jpg" alt="Царь Северный" />
          <h3>Царь Северный</h3>
        </a>
      </div>
      <div class="section-prop__item">
        <a href="/stati/tajny/140-666-tajna-chisla-zverya/">
          <img src="/images/landing/666beast.jpg" alt="666" />
          <h3>666</h3>
        </a>
      </div>
      <div class="section-prop__item">
        <a href="/stati/biblejskie-voprosy/72-kto-takoj-antikhrist/">
          <img src="/images/landing/antich.jpg" alt="Антихрист" />
          <h3>Антихрист</h3>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="py-28">
  <div class="container mx-auto">
    <h2>Новое толкование Библии</h2>
    <div class="section section-newBible">
      <div class="section-newBible__item">
        <div class="section-newBible__image-wrapper">
          <img
            src="/images/landing/mathew.jpg"
            alt="Толкование Евангелия от Матфея"
            class="w-full"
          />
        </div>
        <div class="section-newBible__text-wrapper">
          <h3>1. Толкование Евангелия от Матфея</h3>
          <p>
            Евангелие от Матфея - наиболее полное жизнеописание Иисуса Христа.
            Так же оно содержит знаменитую Нагорную проповедь и раскрытие
            Признака второго пришествия.
          </p>
          <a
            href="/stati/dukhovnyj-navigator/86-evangelie-ot-matfeya-tolkovanie/"
            class="">Читать</a
          >
        </div>
      </div>
      <div class="section-newBible__item">
        <div class="section-newBible__image-wrapper">
          <img
            src="/images/landing/daniil.jpg"
            alt="Пророчества Даниила"
            class="w-full"
          />
        </div>
        <div class="section-newBible__text-wrapper">
          <h3>2. Толкование пророчеств Даниила</h3>
          <p>
            Пророчества Даниила известными своими яркими историями, которые
            служат также и прообразами на будущее. Также там описаны
            таинственные видения, которые через откровение получил пророк.
          </p>
          <a
            href="/stati/dukhovnyj-navigator/35-prorochestva-daniila-tajny-biblii/"
            class="btn btn-primary btn-lg">Читать</a
          >
        </div>
      </div>
      <div class="section-newBible__item">
        <div class="section-newBible__image-wrapper">
          <img
            src="/images/landing/zack.jpg"
            alt="Пророчества Захарии"
            class="w-full"
          />
        </div>
        <div class="section-newBible__text-wrapper">
          <h3>3. Толкование пророка Захарии</h3>
          <p>
            Пророчества Захарии по праву считаются одними из самых сложных в
            Библии после Откровения. И не удивительно, ведь эти книги имеют
            много общего. И, конечно, эта информация очень актуальна и сегодня
          </p>
          <a
            href="/stati/dukhovnyj-navigator/115-tolkovanie-knigi-proroka-zakharii/"
            class="btn btn-primary btn-lg">Читать</a
          >
        </div>
      </div>
      <div class="section-newBible__item">
        <div class="section-newBible__image-wrapper">
          <img
            src="/images/landing/habbakuk.jpg"
            alt="Пророчества Аввакума"
            class="w-full"
          />
        </div>
        <div class="section-newBible__text-wrapper">
          <h3>4. Толкование пророка Аввакума</h3>
          <p>
            Аввакум - не самый популярный сегодня пророк. Но его труды очень
            важны для нас. Этот верный Божий слуга видел последние дни ясно и
            оставил для нас предостережение. Уроки из прожлого служат образными
            картинами конца мира.
          </p>
          <a
            href="/stati/dukhovnyj-navigator/18-prorok-avvakum-o-chjom-on-pisal/"
            class="btn btn-primary btn-lg">Читать</a
          >
        </div>
      </div>
      <div class="section-newBible__item">
        <div class="section-newBible__image-wrapper">
          <img
            src="/images/landing/joile.jpg"
            alt="Пророчества Иоиля"
            class="w-full"
          />
        </div>
        <div class="section-newBible__text-wrapper">
          <h3>5. Толкование пророка Иоиля</h3>
          <p>
            Когда в пятидесятницу первого века был рожден Израиль Божий,
            истинные сыновья Небесного Отца, Петр, говоря о сбывшихся
            пророчествах, упоминал знамения Иоиля. Небольшой объем этой книги
            компенсируется важными знаниями.
          </p>
          <a
            href="/stati/dukhovnyj-navigator/19-prorok-ioil-napisano-dlya-nas-rim-15-4/"
            class="btn btn-primary btn-lg">Читать</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sect-bq bg-gradient-to-r from-blue-900 to-blue-500 text-white">
  <div class="container mx-auto py-16 px-8">
    <blockquote class="text-4xl text-center leading-relaxed">
      Если будешь призывать знание и взывать к разуму; если будешь искать его,
      как серебра, и отыскивать его, как сокровище, то уразумеешь страх
      Господень и найдешь познание о Боге.
      <br />
      <cite class="font-bold text-yellow-400">Притчи 2:3-5</cite>
    </blockquote>
  </div>
</section>
<div class="sect-proverbs">
  <div class="uk-grid uk-grid-collapse">
    <div class="uk-width-small-1-3">
      <div class="sect-proverbs-item">
        <p>
          <a href="/stati/biblejskie-voprosy/148-pritchi-v-biblii/">Прообразы</a
          >
        </p>
      </div>
    </div>
    <div class="uk-width-small-1-3">
      <a
        href="/stati/dukhovnyj-navigator/7-raskrytye-tajny-biblejskikh-pritch/"
      >
        <img src="/images/landing/solomon.jpg" alt="Притчи Соломона" />
      </a>
    </div>
    <div class="uk-width-small-1-3">
      <div class="sect-proverbs-item">
        <p>
          <a
            href="/stati/biblejskie-voprosy/96-chudesa-iisusa-khrista-v-chjom-ikh-smysl/"
            >Чудеса</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="uk-grid uk-grid-collapse">
    <div class="uk-width-small-1-3">
      <a href="/stati/biblejskie-voprosy/148-pritchi-v-biblii/">
        <img src="/images/landing/proobraz.jpg" alt="Прообразы в Библии" />
      </a>
    </div>
    <div class="uk-width-small-1-3">
      <div class="sect-proverbs-item">
        <p>
          <a
            href="/stati/dukhovnyj-navigator/7-raskrytye-tajny-biblejskikh-pritch/"
            >Притчи</a
          >
        </p>
      </div>
    </div>
    <div class="uk-width-small-1-3">
      <a
        href="/stati/biblejskie-voprosy/96-chudesa-iisusa-khrista-v-chjom-ikh-smysl/"
      >
        <img src="/images/landing/slepoi.jpg" alt="Чудеса Иисуса Христа" />
      </a>
    </div>
  </div>
</div>
<div class="sect-bible">
  <h2>Как понять Библию?</h2>
  <a href="/stati/tajny/2-tajny-biblii-chemu-oni-nas-uchat/">Узнать</a>
</div>
<section class="sect-about">
  <div class="sect-about__item">
    <h3 class="md:col-span-2">О сайте</h3>
    <p class="md:col-span-4">
      Библия - закрытая для понимания многих людей книга. Не смотря на то, что
      сегодня целые институты трудяться над ее толкованием, все-равно
      человечество не может прийти к точному пониманию истины. Не могут сойтись
      в едином мнении. Тем не менее, мы не опускаем руки и кропотливо исследуем
      слово Бога. Постепенно нам открылись многие тайны Библии, которыми мы и
      стремимся поделиться с вами! Приглашаем вместе с нами окунуться в этот
      удивительный мир!
    </p>
  </div>

  <hr />
  <div class="sect-about__item">
  <h3 class="md:col-span-2">О нас</h3>
  <div class="md:col-span-4 grid auto-cols-auto gap-4">
    <p>
      Не занимаем сторону ни одной из действующих религий и не участвуем в
      межрелигиозном споре
    </p>
    <p>
      При толковании применяем принцип из Притчи 30:5,6 - "Писание объясняет само
      себя"
    </p>
    <p>
      Это некоммерческий проект. Зарабатываем на хлеб своими руками. Главное для
      нас - открыть правду людям
    </p>
    <p>
      Не гоняясь за регалиями и видным положением, стараемся быть искренними и
      хранить чистоту сердца
    </p>
  </div>
  </div>  
</section>

<style>
  * {
    outline: 1px solid green;
  }

  section {
    /* background-image: url('/bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;*/
    background-attachment: fixed;
  }

  h1 {
    @apply text-8xl;
  }

  h2 {
    @apply text-8xl;
    @apply text-center;
  }

  p {
  }

  .sect-find {
    @apply bg-indigo-950; 
    @apply py-36;
  }

  .sect-find h3{
    @apply text-white; @apply text-4xl; @apply font-semibold; @apply mb-2;
  }

  .sect-find p {
    @apply text-slate-300; @apply text-xl; @apply font-light;
  }

  .section-prop {

  }

  .section-prop img {
    @apply max-w-full;
    @apply rounded-full;
}

  .section-prop h3 {
    @apply text-4xl;
    @apply py-4;
  }

  .section-prop__item {
    @apply p-4;
  }

  .section-newBible {
    @apply max-w-none;
    @apply grid;
    @apply divide-y;
    @apply divide-dashed;
    @apply gap-y-20;
  }

  .section-newBible__item {
    @apply grid;
    @apply md:grid-cols-2;
  }
  .section-newBible__image-wrapper {
    @apply p-4;
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply max-w-full;
  }

  .section-newBible__text-wrapper {
    @apply p-5;
  }

  .section-newBible__item h3 {
    @apply font-semibold;
    @apply text-4xl;
    @apply text-indigo-900;
    @apply mb-8;
  }

  .section-newBible__item p {
    @apply text-xl;
    @apply mb-6;
  }

  .section-newBible__item a {
    @apply bg-indigo-600;
    @apply inline-block;
    @apply p-4;
    @apply py-2;
    @apply text-white;
    @apply hover:bg-indigo-400;
  }

  .sect-bible {
    @apply py-44;
    @apply text-center;
    @apply bg-amber-300;
  }

  .sect-bible h2 {
    @apply mb-20;
  }

  .sect-bible a {
    @apply inline-block;
    @apply px-6;
    @apply py-4;
    @apply font-semibold;
    @apply border-2;
    @apply border-sky-500;
  }

  .sect-about {
  }

  .sect-about__item {
    @apply grid;
    @apply gap-x-10;
    @apply p-10;
    @apply md:grid-cols-6;
  }

  .sect-about__item h3{
    @apply font-semibold;
    @apply text-2xl;
    @apply md:text-right;
    @apply mb-8;

  }
</style>
<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"
></script>
<script is:inline src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.net.min.js"
></script>
<script is:inline>
  VANTA.NET({
    el: "#hero",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.0,
    minWidth: 200.0,
    scale: 1.0,
    scaleMobile: 1.0,
    color: 0x6a46bb,
    backgroundColor: 0x100428,
  });
</script>
