---
---


<footer class="rounded-lg shadow bg-gray-800 m-4 mt-auto">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <svg class="h-8" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title></title><path d="M9,12h5a1,1,0,0,1,1,1v7.9502a0,0,0,0,1,0,0H9a0,0,0,0,1,0,0V12a0,0,0,0,1,0,0Z" style="fill:#ffd58c"></path><path d="M15.9545,7.9318a3.95453,3.95453,0,1,1-7.909,0C8.04545,5.7478,10.0227,3.9773,12,2,13.9773,3.9773,15.9545,5.7478,15.9545,7.9318Z" style="fill:#fa6d62"></path><path d="M13.8182,9.8182A2.025,2.025,0,0,1,12,12a2.025,2.025,0,0,1-1.8182-2.1818c0-1.205.9091-2.1818,1.8182-3.2727C12.9091,7.6364,13.8182,8.6132,13.8182,9.8182Z" style="fill:#fff4ab"></path><path d="M13,17H8.78448A1.57657,1.57657,0,0,1,7.4326,14.6123L9,12h4Z" style="fill:#ffd58c"></path><path d="M17,22H7a1,1,0,0,1-1-1H6a1,1,0,0,1,1-1H17a1,1,0,0,1,1,1h0A1,1,0,0,1,17,22Z" style="fill:#738394"></path></g></svg>
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Тайны Библии</span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">                
                <li>
                    <a href="/mathew/1" class="hover:underline me-4 md:me-6">Евангелие</a>
                </li>
                <li>
                    <a href="/tags" class="hover:underline">Все темы</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://flowbite.com/" class="hover:underline">Тайны Библии</a>. Новое понимание писания.</span>
    </div>
</footer>

